In [1]:
import src.paper as paper
import pandas as pd
from math import sqrt

## Formulas for the number of points needed

In [2]:
# optimal scales for large volumes and 90% confidence level 
# dimension, epsilon 1, epsilon 2, alpha

scales=[
    [2, 0.93, 0.25, 0.08],
    [3, 0.67, 0.24, 0.05],
    [4, 0.54, 0.23, 0.04],
    [5, 0.46, 0.22, 0.03],
    [6, 0.40, 0.21, 0.03],
    [7, 0.36, 0.21, 0.03],
    [8, 0.33, 0.20, 0.02],
    [9, 0.31, 0.19, 0.02],
    [10, 0.29, 0.18, 0.01]
        ]

In [3]:
# 90% confidence level 
delta=0.1

# Compute a formula for a lower bound for the
# number of points needed, depending on the volume
# with the formula of Corollary XXX
results = []
for scale in scales:
    d, e1, e2, alpha = scale
    lower1, upper1 = paper.volume_ball(d,e1)
    lower2, upper2 = paper.volume_ball(d,e2)
    gap = paper.gap(d, e1, e2)
    rho = delta * pow(1 - pow((e2/e1),gap/2), 2)
    a1 = 1 + (1/(( alpha )*rho)) * pow((upper1/lower1)-1, 2)
    a2 = 1 + (1/((1-alpha)*rho)) * pow((upper2/lower2)-1, 2)
    a = int(max(a1,a2)+1)
    b1 = sqrt(2/ (( alpha )*rho*lower1) )
    b2 = sqrt(2/ ((1-alpha)*rho*lower2) )
    b = int(max(b1,b2)+1)
    results.append([d, str(a) + " + " + str(b) + " * vol(M)^(1/2)"])
    
pd.DataFrame(results, columns=["dimension", "number of points"])

   dimension                number of points
0          2         417 + 54 * vol(M)^(1/2)
1          3       1711 + 142 * vol(M)^(1/2)
2          4       4178 + 388 * vol(M)^(1/2)
3          5      9350 + 1113 * vol(M)^(1/2)
4          6     13221 + 3366 * vol(M)^(1/2)
5          7    25138 + 10644 * vol(M)^(1/2)
6          8    50033 + 34890 * vol(M)^(1/2)
7          9   63876 + 119533 * vol(M)^(1/2)
8         10  139412 + 425554 * vol(M)^(1/2)