In [1]:
import src.paper as paper
import pandas as pd

## Compute the gap for different dimensions

In [2]:
# Optimal scales for large volumes and 90% confidence level.
# dimension, epsilon 1, epsilon 2

scales=[
    [2, 0.93, 0.25],
    [3, 0.67, 0.24],
    [4, 0.54, 0.23],
    [5, 0.46, 0.22],
    [6, 0.40, 0.21],
    [7, 0.36, 0.21],
    [8, 0.33, 0.2],
    [9, 0.31, 0.19],
    [10, 0.29, 0.18]
        ]

In [3]:
# Gaps computed with the result of Corollay XXX

result = []
for d, e1, e2 in scales:
    g = paper.gap(d, e1, e2)
    result.append([d, e1, e2, g])
    
pd.DataFrame(result, columns=["dimension","epsilon 1","epsilon 2","gap"])

   dimension  epsilon 1  epsilon 2       gap
0          2       0.93       0.25  0.331204
1          3       0.67       0.24  0.284378
2          4       0.54       0.23  0.249891
3          5       0.46       0.22  0.223958
4          6       0.40       0.21  0.208521
5          7       0.36       0.21  0.178814
6          8       0.33       0.20  0.166892
7          9       0.31       0.19  0.155560
8         10       0.29       0.18  0.152528