In [1]:
import src.paper as paper
import pandas as pd
from math import pi

Compute the optimal scales for given dimensions and volumes.

## Optimal scales for different dimensions and volumes $(2\pi)^d$

In [2]:
# 90% confidence level 
delta=0.1

results = []
for d in range(1,11):
    # starting scales
    V = pow(2*pi,d)
    e1 = 0.2
    e2 = 0.1
    alpha = 0.1
    # otpimize scales
    n, e1, e2, alpha = paper.optimize(d, e1, e2, V, delta, alpha)
    results.append([d, e1, e2, alpha])
pd.DataFrame(results, columns=["dimension", "epsilon 1","epsilon 2", "alpha"])

   dimension  epsilon 1  epsilon 2  alpha
0          1       1.50       0.19   0.15
1          2       0.78       0.20   0.11
2          3       0.63       0.23   0.09
3          4       0.54       0.23   0.06
4          5       0.46       0.22   0.04
5          6       0.40       0.21   0.03
6          7       0.36       0.21   0.03
7          8       0.33       0.20   0.02
8          9       0.31       0.19   0.02
9         10       0.29       0.18   0.01

## Optimal scales for different dimensions and volumes $100\cdot(2\pi)^d$

In [3]:
# 90% confidence level 
delta=0.1

results = []
for d in range(1,11):
    # starting scales
    V = 100*pow(2*pi,d)
    e1 = 0.2
    e2 = 0.1
    alpha = 0.1
    # otpimize scales
    n, e1, e2, alpha = paper.optimize(d, e1, e2, V, delta, alpha)
    results.append([d, e1, e2, alpha])
pd.DataFrame(results, columns=["dimension", "epsilon 1","epsilon 2", "alpha"])

   dimension  epsilon 1  epsilon 2  alpha
0          1       1.84       0.25   0.14
1          2       0.93       0.25   0.09
2          3       0.67       0.24   0.06
3          4       0.54       0.23   0.04
4          5       0.46       0.22   0.03
5          6       0.40       0.21   0.03
6          7       0.36       0.21   0.03
7          8       0.33       0.20   0.02
8          9       0.31       0.19   0.02
9         10       0.29       0.18   0.01

## Optimal scales for different volumes in dimension 4

In [4]:
# dimension 4
d=4

# 90% confidence level 
delta=0.1

results = []
V=50
for i in range(1,15):
    V*=2
    # starting scales
    e1 = 0.5
    e2 = 0.25
    alpha = 0.1
    # otpimize scales
    n, e1, e2, alpha = paper.optimize(d, e1, e2, V, delta, alpha)
    results.append([V, int(n+1), e1, e2, alpha])
pd.DataFrame(results, columns=["volume", "nb points", "epsilon 1","epsilon 2", "alpha"])

    volume  nb points  epsilon 1  epsilon 2  alpha
0      100       4007       0.54       0.23   0.10
1      200       5612       0.52       0.23   0.08
2      400       7878       0.54       0.23   0.07
3      800      11079       0.54       0.23   0.06
4     1600      15665       0.54       0.23   0.06
5     3200      22035       0.54       0.23   0.05
6     6400      31160       0.54       0.23   0.05
7    12800      44064       0.54       0.23   0.05
8    25600      61988       0.54       0.23   0.04
9    51200      87662       0.54       0.23   0.04
10  102400     123971       0.54       0.23   0.04
11  204800     175319       0.54       0.23   0.04
12  409600     247936       0.54       0.23   0.04
13  819200     350632       0.54       0.23   0.04