In [1]:
import scipy.integrate as integrate
from scipy.special import gamma
from math import pi, sqrt, sin, sinh, asin, log, exp, acos
import numpy as np
import random
import matplotlib.pyplot as plt
import pandas as pd

## Number of pairs for mean distance

In [2]:
def mean(d):
    return d / (d+1)
def var(d):
    return d / ((d+2)*(d+1)**2)

result=[]
for d in range(2,11):
    gap = min( mean(d+1)-mean(d) , mean(d)-mean(d-1) )/2
    stdev = sqrt(var(d))
    n=pow(stdev/gap,2)*10
    result.append([d, gap, stdev, int(n)])
    
pd.DataFrame(result, columns=["dimension", "gap", "standard deviation", "nb of pairs"])

   dimension       gap  standard deviation  nb of pairs
0          2  0.041667            0.235702          319
1          3  0.025000            0.193649          599
2          4  0.016667            0.163299          960
3          5  0.011905            0.140859         1400
4          6  0.008929            0.123718         1919
5          7  0.006944            0.110240         2520
6          8  0.005556            0.099381         3199
7          9  0.004545            0.090453         3960
8         10  0.003788            0.082988         4800

## Number of pairs for Corsum

In [4]:
def mean(d):
    return (0.23/0.53)**d
def var(d):
    return mean(d)-mean(d)**2

result=[]
for d in range(2,11):
    gap = min( mean(d)-mean(d+1) , mean(d-1)-mean(d) )/2
    stdev = sqrt(var(d))
    n=pow(stdev/gap,2)*10
    result.append([d, gap, stdev, int(n)])
    
pd.DataFrame(result, columns=["dimension", "gap", "standard deviation", "nb of pairs"])

   dimension       gap  standard deviation  nb of pairs
0          2  0.053299            0.390970          538
1          3  0.023130            0.273946         1402
2          4  0.010037            0.184954         3395
3          5  0.004356            0.123101         7986
4          6  0.001890            0.081452        18567
5          7  0.000820            0.053759        42948
6          8  0.000356            0.035443        99130
7          9  0.000154            0.023357       228593
8         10  0.000067            0.015389       526922

## Number of triples for ANOVA

In [5]:
def f(t,d):
    return pow(sqrt(1-t*t),d-1)
def P(d):
    return integrate.quad(lambda t: f(t,d)                       , -1, 1)[0]
def mean(d):
    return integrate.quad(lambda t: f(t,d)*(acos(t)-pi/2)**2                , -1, 1)[0]/P(d)
def var(d):
    return integrate.quad(lambda t: f(t,d)*((acos(t)-pi/2)**2-mean(d))**2   , -1, 1)[0]/P(d)

result=[]
for d in range(2,11):
    gap = min( mean(d)-mean(d+1) , mean(d-1)-mean(d) )/2
    stdev = sqrt(var(d))
    n=pow(stdev/gap,2)*10
    result.append([d, gap, stdev, int(n)])
    
pd.DataFrame(result, columns=["dimension", "gap", "standard deviation", "nb of triples"])

   dimension       gap  standard deviation  nb of triples
0          2  0.038644            0.382397            979
1          3  0.023856            0.303706           1620
2          4  0.016144            0.251235           2421
3          5  0.011634            0.213962           3382
4          6  0.008774            0.186198           4503
5          7  0.006851            0.164748           5783
6          8  0.005495            0.147694           7223
7          9  0.004505            0.133818           8824
8         10  0.003760            0.122313          10584