In [2]:
import scipy.integrate as integrate
from scipy.special import gamma
from math import pi, sqrt, sin, sinh, asin, log, exp, acos
import numpy as np
import random
import matplotlib.pyplot as plt
import pandas as pd

## Number of pairs for Corsum

In [3]:
def mean(d):
    return (0.23/0.54)**d
def var(d):
    return mean(d)-mean(d)**2

result=[]
for d in range(2,11):
    gap = min( mean(d)-mean(d+1) , mean(d-1)-mean(d) )/2
    stdev = sqrt(var(d))
    n=pow(stdev/gap,2)*10
    result.append([d, gap, stdev, int(n)])
    
pd.DataFrame(result, columns=["dimension", "gap", "standard deviation", "nb of pairs"])

   dimension       gap  standard deviation  nb of pairs
0          2  0.052072            0.385360          547
1          3  0.022179            0.267017         1449
2          4  0.009447            0.178403         3566
3          5  0.004024            0.117563         8537
4          6  0.001714            0.077037        20207
5          7  0.000730            0.050364        47607
6          8  0.000311            0.032893       111938
7          9  0.000132            0.021474       262976
8         10  0.000056            0.014016       617586

## Number of triples for ANOVA

In [4]:
def f(t,d):
    return pow(sqrt(1-t*t),d-1)
def P(d):
    return integrate.quad(lambda t: f(t,d)                       , -1, 1)[0]
def mean(d):
    return integrate.quad(lambda t: f(t,d)*(acos(t)-pi/2)**2                , -1, 1)[0]/P(d)
def var(d):
    return integrate.quad(lambda t: f(t,d)*((acos(t)-pi/2)**2-mean(d))**2   , -1, 1)[0]/P(d)

result=[]
for d in range(2,11):
    gap = min( mean(d)-mean(d+1) , mean(d-1)-mean(d) )/2
    stdev = sqrt(var(d))
    n=pow(stdev/gap,2)*10
    result.append([d, gap, stdev, int(n)])
    
pd.DataFrame(result, columns=["dimension", "gap", "standard deviation", "nb of triples"])

   dimension       gap  standard deviation  nb of triples
0          2  0.038644            0.382397            979
1          3  0.023856            0.303706           1620
2          4  0.016144            0.251235           2421
3          5  0.011634            0.213962           3382
4          6  0.008774            0.186198           4503
5          7  0.006851            0.164748           5783
6          8  0.005495            0.147694           7223
7          9  0.004505            0.133818           8824
8         10  0.003760            0.122313          10584